$color-white: #ffffff;
$color-black: #000000;
$color-green:#11BC97;
$color-secGreen:#0ead8a;
$color-blue:#2091E9;
$color-sharpGreen:#01FFCA;
$color-pink:#E66A8B;
$color-orange:#FB8C3D;
$color-orange-high:#F4B717;
$color-yellow:#FB8C3D;
$color-purple:#A001FF;
$color-light-purple:#7879F1;
$color-darkBlue:#110133;
$color-lightGrey:#F4F6FA;
$color-normalGrey:#E4E7F0;
$color-monoDullGrey:#A7B2CD;
$color-monoNormalGrey:#636A7D;
$color-light-blue:#a7b2cd;
$color-monoIntenseGrey:#222735;



